<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>NetBankingProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.sohambanking.servlets.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.sohambanking.servlets.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminCheck</display-name>
    <servlet-name>AdminCheck</servlet-name>
    <servlet-class>com.sohambanking.servlets.AdminCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminCheck</servlet-name>
    <url-pattern>/AdminCheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddAccount</display-name>
    <servlet-name>AddAccount</servlet-name>
    <servlet-class>com.sohambanking.servlets.AddAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAccount</servlet-name>
    <url-pattern>/AddAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CloseAccount</display-name>
    <servlet-name>CloseAccount</servlet-name>
    <servlet-class>com.sohambanking.servlets.CloseAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CloseAccount</servlet-name>
    <url-pattern>/CloseAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DepositAmount</display-name>
    <servlet-name>DepositAmount</servlet-name>
    <servlet-class>com.sohambanking.servlets.DepositAmount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepositAmount</servlet-name>
    <url-pattern>/DepositAmount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WithdrawAmount</display-name>
    <servlet-name>WithdrawAmount</servlet-name>
    <servlet-class>com.sohambanking.servlets.WithdrawAmount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WithdrawAmount</servlet-name>
    <url-pattern>/WithdrawAmount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowToName</display-name>
    <servlet-name>ShowToName</servlet-name>
    <servlet-class>com.sohambanking.servlets.ShowToName</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowToName</servlet-name>
    <url-pattern>/ShowToName</url-pattern>
  </servlet-mapping>
</web-app>